* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100vh;
  margin: 0;
}

/*  Home start */
.home-title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 175px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 700px) {
  .home {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.home-text-div {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.nother-div {
  background-color: black;
  color: white;
  width: 50%;
}

.home-img-div {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.home-img {
  width: 500px;
  height: auto;
  margin: 20px;
}

/* Home end*/

/* ChallengeDetails.js start*/

/* the one below */
.meditate-img-div {
  background-image: url("../homeImgs/grapple-cycle-group.jpeg");
  background-size: cover;
  background-position: center;
  padding: 13em;
}

.single-challenge-div {
  padding: 50px;
  background-color: black;
}

.single-challenge-bttns {
  display: flex;
  justify-content: center;
}

/* ChallengeDetails.js end*/

/* Nav css start */

.nav-logo {
  width: 80px;
  height: auto;
  margin: 0;
  padding: 0;
}
.nav-bar {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 50px;
}

.nav {
  margin-bottom: 120px;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.navbar-browse-challenge-link {
  height: 0;
  display: flex;
  align-items: center;
}

.navbar-browse-people-link {
  height: 0;
  display: flex;
  align-items: center;
}

/* Nav css end */

.footer-container {
  display: flex;
}

.sorters {
  display: flex;
}

/*css for search bar  */
.searchInputs {
  margin-top: 105px;
  display: flex;
}

.search input {
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 300px;
}

.searchIcon {
  height: 60px;
  width: 50px;
  background-color: white;
  display: grid;
  place-items: center;
}

input:focus {
  outline: none;
}

.searchIcon svg {
  font-size: 35px;
}

.dataResult {
  margin-top: 5px;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult ::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100px;
  height: 50px;
  /* display: flex; */
  align-items: center;
  color: black;
}
/* .dataItem{
  margin-left:10px;
} */

a {
  text-decoration: none;
}

a:hover {
  background-color: lightgray;
}

#clearBtn {
  cursor: pointer;
}
.pagination {
  display: flex;
  list-style-type: none;
  background-color: white;
  border-radius: 5px;
  justify-content: center;
}

.pagination-item > li {
  color: #0b1426;
  padding: 10rem;
  text-decoration: bold;
}

.pagination > li.selected {
  color: black;
  border-radius: 3px;
  padding: 0.5rem;
  font-size: 18px;
  background-color: #248da2;
  margin-left: 5px;
}

.pagination > li.nonselected {
  background-color: #248da2;
  color: white;
  border-radius: 3px;
  padding: 0.5rem;
  font-size: 18px;
  margin-left: 5px;
  /* border: 1px solid black; */
}

.profile-container {
  /* display: flex; */
  justify-content: center;
  min-height: 50vh;
}
.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 70%; */
  align-items: center;
}

.profile-title {
  font-size: 1.5em;
  text-align: center;
}

.image-stack {
  width: -webkit-fill-available;
}
.image-stack::after {
  content: " ";
  display: table;
  clear: both;
}

#profile-header {
  width: 100%;
  height: 150px;
  background-size: 100% 100%;
  top: 0;
  left: 0;
  margin-bottom: 55px;
  object-fit: cover;
  box-sizing: border-box;
}

#profile-image {
  float: left;
  height: 156px;
  width: 156px;
  object-fit:cover;
  top: 50px;
  left: calc(50% - 78px);
  border: 5px solid silver;
  border-radius: 50%;
  bottom: 0;
  box-shadow: inherit;
  background-color:white;
  margin-top: "20px";
  margin-right: -50%;
  position: relative;
  z-index: 1;
  font-size: 155px;
  color: "#dfdfdf";
}

.profile-list {
  position: relative;
  min-width: 50%;
  max-width: 360px;
  width: 100%;
  flex: none;
  background-color: white;
}

.sorters > button {
  background-color: white;
  border: none;
  transition-duration: 0.4s;
  height: 60px;
  border-radius: 30px;
}

.sorters > button:hover {
  background-color: #4ab5a3;
  color: white;
}

.searchContainer {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 50px;
}
